{% extends "layout.html" %}
{% block extrahead %}
    {% if pagename == 'index' %}
    <link rel="stylesheet" href="_static/js/video.js/video-js.min.css">
    <script type="text/javascript" src="_static/js/video.js/video.min.js"></script>
    <script type="text/javascript" src="_static/js/videojs-contrib-hls/built/videojs-contrib-hls.min.js"></script>
    <script type="text/javascript">
    function update_url(url, local_server) {
        return url.replace(/(local\.)/, local_server + '.');
    };

    document.addEventListener('DOMContentLoaded', function() {
        var request = new XMLHttpRequest();
        request.addEventListener('load', function(event) {
            var local_server = request.responseText;
            var video_sources = document.getElementById('video').getElementsByTagName('source');
            for (var i = 0; i < video_sources.length; i++) {
                var element = video_sources[i]
                element.setAttribute('src', update_url(element.src, local_server));
            };
            var player_urls = document.getElementsByClassName('video-url');
            for (var i = 0; i < player_urls.length; i++) {
                player_urls[i].innerHTML = update_url(player_urls[i].innerHTML, local_server);
            };

            videojs('video');
        });
        request.open("GET", "https://local.live.debconf.org/local-server");
        request.send();
    });
    </script>
    {% endif %}
{% endblock %}
{% block body %}
    {% if pagename == 'index' %}
        {% include 'custom/video.html' %}
        {{ body }}
    {% else %}
        {{ body }}
    {% endif %}
{% endblock %}
